{
  "env": {
    "development": {
      "presets": [
        ["env", { "modules": false }],
        "react",
      ],
      "plugins": [
        "react-hot-loader/babel",
        "transform-object-rest-spread",
      ]
    },
    "test": {
       "presets": [
         "@babel/react" ,
         "@babel/env" ,
       ],
       "plugins": [
           "@babel/plugin-proposal-class-properties"
       ]
    }
  }
}
