body,
html {
  background-color: $bg-color;
  font-size: $font-size;
  font-family: $font-family;
  margin: 0;
  padding: 0;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ml-content {
  margin: 0 auto;
  max-width: 800px;
  display: flex;
  justify-content: center;
}
